
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    
    background-position: center; 
    padding: 40px;
    min-height: 100vh;
   
}

.box{
    display: flex;
    width: 730px;
    border: 2px solid #888;
}
.img-box{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    /* display: flex; */
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
.img-box img{
    border-radius: 50px;
    opacity: 70%;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

.img-box p {
    font-weight: bold;
    color: #3D3D3D;
}
.img-box h1{
    font-size: 35px;
    color: #191970;
}
.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    font-size:25px;
    color:#191970;
}
.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: red;
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #f10a0a;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    outline: none;
    border: 2px solid #191970;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    cursor: pointer;
}

form .input-group button{
    width: 40%;
    height: 47px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

table {
    border: 2px solid #191970;
    border-collapse: collapse;
    margin: 5px;
    
  }

  s th,
tr,
td {
  border: solid 1px #191970;
  color: #3d3d3d;
  
}

section {
  background: rgba(250, 246, 246, 0.192);
  border-radius: 10px;
  padding: 20px;
  width: 450px;
  margin : 20px;
  margin-top: 20px;
  /* border: 1px solid #888; */
}
  