body{
    background-color: yellow;
}

h1{
    background-image: url("pic_trulli.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: brown;
    text-align: center;
}

p{
    font-size: 14px;
}

img{
    border-radius: 10px;
    padding: 10px;
    border: solid 2px black;
    margin-top: 20px;
}