/* *{
    
} */

.caixa{

    display: flex;
    place-items: center;
    background-color: rgb(141, 158, 143);
    width: 400px;
    height: 170px;
    border: 1px solid #888;
    border-radius: 15px;
    
}


img{
    
    margin: 20px;
    width:115px;
    border-radius: 50%;
    border: 1px solid #0a71f7;
}

.imagem{
   
    display: flex;
    justify-content:right;
    flex-direction: column;
    align-items: start;
}

.info{
    color: rgb(70, 65, 65);
    font-size: 12px;
}
.info p {
    font-size: 17px;
}
.icons{
   
        bottom: 30;
        position: fixed;
        width: 90%;
        text-align: center;

}
a{
    padding: 10px;
}